{% extends "layout.html" %}

{% block title %}
About
{% endblock %}
{% block main %}

    <section class="home-content">

      <div class="row about-row justify-content-center">
          <div class="col-12 p-0 text-center">
                  <h2 class="about-header">My skills:</h2>
                </div>
                <div class="row justify-content-center">
                    <div class="row index-img text-center">
                        <h6> Python (scikit-learn, NumPy, SciPy, Pandas, Keras, Gensim, Plotly), Java, SQL, HTML, CSS, Git, Unix, Flask, Data Extraction, Data Cleaning & Data Visualization
                          </h6>
                    </div>
                </div>
              </div>


        <div class="row portfolio-row justify-content-center">
            <div class="col-md-5">
                <div class="text-center">
                        <h2 class="about-header">My journey into data science</h2>
                </div>

                <div class="row justify-content-center">
                    <div class="row index-img text-center">
                        <p><i>I remember attending my <a target="_blank" class="about-link" href="https://2016.bit.camp/">first hackathon</a> at an
                           arena with over 1,000 students that would spend their entire weekend collaborating and coding. It was all foreign to me
                            so I navigated towards what I felt most comfortable with and networked with sponsor companies about a field I had no
                             knowledge in. At the end of the day, I didn’t win any grand prizes but I did gain something even more valuable:
                             finding a career that was inspiring. Either the companies did a great job recruiting or maybe I was fascinated
                             by all the cool tech gadgets.
                          </p>
                          <p>
                              I taught myself Python and felt a surge of excitement having finished my
                              first for-loop that didn’t get stuck. As a pre-dental student at the time, I combined
                              my knowledge of organic chemistry and this newfound skill to create a simple tool that
                              would classify the product of different combinations of chemical reagents.
                              That ability to create a useful tool from one programming course and tying
                              it with knowledge from another field is what won me over. And that is when
                              I knew I had to transition to tech.
                              </i>
 </p>
                    </div>
                </div>
            </div>
        </div>



        <div class="timeline">
            <div class="container-timeline left">
                <div class="content">
                        <h2>2018</h2>
                            <li><a target="_blank" class="about-link" href="https://www.khoury.northeastern.edu/student_stories/amie/">Northeastern
                              University Computer Science Program (M.S)</a>:
                                Enrolled in computer science master's program for students
                                with no previous CS background.
                            </li>
                            <li>
                                <b>CS5001 Intensive Foundations of Computer Science:</b> Introduces the
                                fundamental ideas of computing and programming principles.
                            </li>
                            <li>
                                <b>CS5002 Discrete Structures:</b> Studied structures such as sets,
                                tuples, sequences, lists, trees, and graphs.
                            </li>
                </div>
            </div>
            <div class="container-timeline right">
                <div class="content">
                        <h2>2019</h2>
                            <ul>
                              <li>
                                  <b>Conrad Blucher Institute Machine Learning Lab: </b> Attended weekly graduate lab meetings with the
                                  Machine Learning & Engineering Department at Texas A&M - Corpus
                                  Christi (TAMUCC) to learn about the coastal geospatial projects involving AI & Deep Learning.
                              </li>
                                <li>
                                    <b>CS5004 Object-Oriented Design:</b> Discusses the concepts of
                                    object, class, metaclass, message, method, inheritance, and genericity.
                                </li>
                                <li>
                                    <b>CS5600 Algorithms:</b> Focuses on algorithmic design paradigms
                                    and techniques for analyzing the correctness, time, and space
                                    complexity of algorithms.
                                </li>
                                <li>
                                    <b>CS5500 Foundations of Software Engineering:</b> Used software
                                    development life cycle model (agile). Focused on requirements analysis,
                                    user-centered design, software design principles and patterns, testing.
                                </li>
                                <li>
                                    <b>CS5200 Database Management Systems:</b> Became familiar with SQL,
                                    stored procedures, user-defined functions, embedded SQL programs,
                                    client-server interfaces, normalization, and object-relational database management system.
                                </li>
                </div>
            </div>
            <div class="container-timeline left">
                <div class="content">
                        <h2>2020</h2>
                            <ul>
                              <li>
                                  <b>Teaching Assistant:</b> Assisted students enrolled in the Algorithms & Data Structures
                                  course at Northeastern University.
                              </li>
                              <li>
                                  <b>CS5100 Foundations of Artificial Intelligence:</b> Introduction to
                                  heuristic search and game trees, knowledge representation using predicate
                                  calculus, problem solving and planning, and introduction to machine learning.
                              </li>
                                <li>
                                  <b>CS6120 Natural Language Processing:</b> Utilized computational models of
                                  grammar and automatic parsing, statistical language models and the analysis of
                                  large text corpuses, natural language semantics and programs that understand language.
                                </li>
                                <li>
                                  <b>CS6140 Machine Learning:</b> Introduction to supervised learning including
                                  decision tree induction, artificial neural networks, instance-based learning,
                                  probabilistic methods, and support vector machines; unsupervised learning; and
                                  reinforcement learning.
                                </li>
                            </ul>
                </div>
            </div>
            <div class="container-timeline right">
                <div class="content">
                        <h2>2021</h2>
                        <li>
                            <b>Teaching Assistant:</b> Assisted students enrolled in the Computer Systems
                            course at Northeastern University.
                        </li>
                        <li>
                          <b>CS6200 Information Retrieval:</b> Evaluation of information retrieval systems;
                          language, and indexing models; relevance feedback; clustering; probabilistic approaches
                          to information retrieval.
                        </li>
                        <li>
                          <b>CS6220 Data Mining Techniques:</b> Incorporate classification, prediction,
                          association rules, sequence mining, and cluster analysis into small projects.
                        </li>
                </div>
            </div>
        </div>

        <div class="row portfolio-row justify-content-center">
            <div class="col-md-8">
                <hr/>
            </div>
        </div>

    </section>

{% endblock %}
