{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <section class="home-content">
      <div class="row justify-content-center">
                <div class="text-center">
                  <div class="row portfolio-row justify-content-center">
                        <p><i>With data science I can give back to the community and underrepresented groups by
                          modeling information to highlight issues that could be used to help the
                          communities that need it most. </i></p>
                        </div>
                </div>




        <div class="container p-0">
            <div class="row portfolio-row justify-content-center">
                <div class="col-12 col-md-5">
                    <div class="row justify-content-center">
                        <div class="text-center">
                            <h2 class="index-header">Latest Project</h2>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="row index-img text-center">
                            <h6> <i> Analyzing Abuse & Domestic Violence Subreddits During COVID-19 </i></h6>
                        </div>
                    </div>
                    <div class="row">

                        <a target="_blank" href="https://reddit-topic-model.herokuapp.com/">
                            <img class="index-img" src="/static/img/topic_model_animate.gif">
                        </a>
                    </div>
                    <div class="index-bottom text-center">
                    </div>
                </div>

                <div class="col-12 col-md-5">
                    <div class="row justify-content-center">
                        <div class="text-center">
                                <h2 class="index-header">Tutorial Videos</h2>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="row index-img text-center">
                            <h6> <i>Technology for Everyone</i> </h6>
                        </div>
                    </div>
                    <div class="row">
                        <a target="_blank" href="https://www.youtube.com/watch?v=tjM78abmHY8">
                            <img class="index-img" src="/static/img/tutor_.gif" width="600" height="400">
                        </a>
                    </div>
                    <div class="index-bottom text-center">
                        <p>tecnología para <a target="_blank" class="about-link" href="https://www.youtube.com/watch?v=U0J8SVZxNj0">todos</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
