{% extends "layout.html" %}

{% block title %}
    Orgs
{% endblock %}

{% block main %}

<section class="home-content">
    <div class="row portfolio-row justify-content-center">
        <div class="col-md-5">
            <div class="text-center">
                    <h2 class="about-header">Society for Advancement of Chicanos/Hispanics & Native Americans in Science (SACNAS)</h2>
            </div>
            <div class="row justify-content-center">
                <div class="row index-img text-center">
                      <img src="/static/img/sacnas_booth.png" width = "600" height = auto>
                      <div class="text-center">
                        <div class="row portfolio-row justify-content-center">
                              <h3 class="about-header"><i>Starting An Organization</i></h3>
                              </div>
                      </div>
                      <p>
                        I started a <a target="_blank" class="about-link" href="https://www.sacnas.org/">SACNAS Chapter</a> at my university
                        during the last year of my undergraduate studies and have been involved ever since. I believe in what it stands for: <b><i>
                        fostering the success of Chicanos/Hispanics and Native Americans, from college students to professionals,
                        in attaining advanced degrees, careers, and positions of leadership in STEM. </i></b>
                         </p>
                      <img src="/static/img/sacnas_network.png" width = "600" height = auto>
                      <div class="text-center">
                        <div class="row portfolio-row justify-content-center">
                              <h3 class="about-header"><i>Facing Adversity</i></h3>
                              </div>
                      </div>
                      <p>
                         Leading a new executive-board and starting an organization was a difficult challenge
                         but I gained a lot from the experience including patience, teamwork, and communication.
                         </p>
                      <img src="/static/img/sacnas_meeting.png" width = "600" height = auto>
                </div>
            </div>
        </div>
    </div>

    </section>

    {% endblock %}
